<h1>Hello, <%= @user_name %></h1>
<img src="<%= @picture %>">

<h2>Recent Posts</h2>
<% @recent_posts.each do |post| %>
  <div class="postmaster3000">
    <p> <%= post.user.full_name %> </p>
    <%= image_tag(post.user.picture_url, class: "profile_pic") %>
    <p> <%= post.content %> </p>
  </div>
<% end %>
