<h1>My Feed</h1>

<div class="PostList">
  <% @posts.each do |post| %>

    <div class="PostItem PostItem--pink">
      <div class="PostItem-description">
        <strong><%= post.user.full_name %></strong> <em>Sign</em>
        <p><%= post.content %></p>
      </div>
      <div class="PostItem-social">
        <span><%= link_to "View",post %></span>
        <span><%= button_to "Like", {action: "create",controller:"likes",params:{post_id: post.id}} %></span>
        <span><%= post.likes.count%></span>
      </div>
    </div>

  <% end %>
</div>
