<!DOCTYPE html>
<html>
<head>
  <title>Ruby &amp; Rosé</title>
  <%= favicon_link_tag 'logo.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
    <ul class="navbar">
      <li class="navitem"><%= link_to "Home", root_path %></li>
      <li class="navitem"><%= link_to "Posts", posts_path %></li>
      <li class="navitem"><%= link_to "New Post", new_post_path %></li>
      <li class="navitem"><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
      <li class="navitem"><%= link_to "Sign out", destroy_user_session_path %></li>
    </ul>

<% end %>

<%= yield %>

</body>
</html>
